<footer class="footer">
    <div class="footer-container">
       

        <div class="footer-section">
            <h4>Contact Us</h4>
            <p>📞 Call: +91-22-41003600/3663</p>
            <p>📧 Email: <a href="mailto:feedback&#64;mealTime.com">feedback&#64;mealTime.com</a></p>
        </div>

        <div class="footer-section">
            <h4>Get in Touch</h4>
            <div class="social-icons">
                <a href="#" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/733/733547.png" alt="Facebook"></a>
                <a href="#" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/3670/3670151.png" alt="Twitter/X"></a>
                <a href="#" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/3670/3670157.png" alt="Discord"></a>
            </div>
        </div>
        
    </div>

    <div class="footer-bottom">
        <p>Copyright &copy; 2025 MealTime | All Rights Reserved.</p>
        <p>Proudly built in <img src="https://cdn-icons-png.flaticon.com/512/197/197419.png" alt="Indian Flag"></p>
    </div>
</footer>
