.container {
    max-width: 100% !important;
    background: url('https://img.freepik.com/premium-photo/ingredients-cooking-black-food-background-free-space-your-text_712895-3827.jpg') 
    no-repeat center center fixed;
    background-size: cover;
    height: 95vh; /* Match viewport height */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.meals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.meal-card {
    background: linear-gradient(rgb(175, 89, 89), #864949, #eb8d8d);
    color: white;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    justify-content: center;
    text-align: center;
}

.meal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.meal-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .container {
        height: 200vh;
    }
    
    
}

@media (max-width: 480px) {
    .container {
        height: 300vh;
    }
    
    
}